doctype html
head
    title 샘플 타이틀
    link(rel="stylesheet" type="text/css" href='../assets/css/index.css')
body
    div#wrap
        h1 예시 프로젝트 생성
        section
            article 누구든지 체포 또는 구속을 당한 때에는 적부의 심사를 법원에 청구할 권리를 가진다. 국방상 또는 국민경제상 긴절한 필요로 인하여 법률이 정하는 경우를 제외하고는, 사영기업을 국유 또는 공유로 이전하거나 그 경영을 통제 또는 관리할 수 없다.